* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    color: #fff;
    background-color: #5995DA;
    padding: 20px 0; /*20px padding top and bottom, 0px to the sides.*/
    display: flex;
    justify-content: center;
}

.menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.signup {
    margin-right: 20px;
}

.header-container {
    display: flex;
    color:#5995DA;
    background-color: #D6E9FE;
    justify-content: center;
}

.header {
    align-items: center;
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
